[submodule "third-party/gtest"]
	path = third-party/gtest
	url = https://github.com/google/googletest
[submodule "testi/third-party/gtest"]
	path = testi/third-party/gtest
	url = https://github.com/google/googletest
